<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact</h2>
      <p>
        Connect with the Team at Optimal Medical Group, Where Dedicated
        Professionals Stand Ready to Address All Your Healthcare Needs.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-12">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>17400 IRVINE BLVD STE L, TUSTIN, CA 92780-3030</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>
                <a href="mailto:info@optimalorthomed.com"
                  >info@optimalorthomed.com</a
                >
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p><a href="tel:+1714-485-7245"> +1714-485-7245</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="php-email-form"
        >
          <div class="row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Your Name"
                formControlName="name"
                required
              />
              <h6
                *ngIf="
                  contactForm.get('name')?.touched &&
                  contactForm.get('name')?.hasError('required')
                "
              >
                Name is required.
              </h6>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Your Email"
                formControlName="email"
                required
              />
              <h6
                *ngIf="
                  contactForm.get('email')?.touched &&
                  contactForm.get('email')?.hasError('required')
                "
              >
                Email is required.
              </h6>
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              type="tel"
              class="form-control"
              name="phone"
              placeholder="Phone"
              formControlName="phone"
            />
            <h6
              *ngIf="
                contactForm.get('phone')?.touched &&
                contactForm.get('phone')?.hasError('pattern')
              "
            >
              Invalid phone number format.
            </h6>
          </div>
          <div class="form-group mt-3">
            <textarea
              class="form-control"
              name="message"
              rows="7"
              placeholder="How can we help you?"
              formControlName="message"
              required
            ></textarea>
            <h6
              *ngIf="
                contactForm.get('message')?.touched &&
                contactForm.get('message')?.hasError('required')
              "
            >
              Message is required.
            </h6>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button
              [innerText]="isSending ? 'Sending...' : 'Send Message'"
              type="submit"
            ></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div>
    <iframe
      style="border: 0; width: 100%; height: 350px"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3317.4920271175856!2d-117.83114252522593!3d33.74794927327305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcdbd83453d7c5%3A0x2a4443565d8130d8!2s17400%20Irvine%20Blvd%20l%2C%20Tustin%2C%20CA%2092780%2C%20USA!5e0!3m2!1sen!2sng!4v1698316221211!5m2!1sen!2sng"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
