<section id="providers" class="doctors section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Providers</h2>
      <p>
        Meet our providers and physicians at Optimal Orthopaedic, with extensive
        experience in the diagnosis and treatment of musculoskeletal disorders
        and injuries.
      </p>
    </div>

    <div class="row">
      <div class="member-container">
        <div
          *ngFor="let doctor of providers"
          class="member"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="member-img">
            <img [src]="doctor.image" [alt]="doctor.name" />
            <div class="social">
              <a [routerLink]="['provider', doctor.id]">Read More</a>
            </div>
          </div>
          <div class="member-info">
            <h4>{{ doctor.name }}</h4>
            <span> {{ doctor.specialization }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Physicians</h2>
    </div>

    <div class="row">
      <div class="member-container">
        <div
          *ngFor="let physician of physicians"
          class="member"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="member-img">
            <img [src]="physician.image" [alt]="physician.name" />
            <div class="social">
              <a
                style="cursor: pointer !important"
                [routerLink]="['physician', physician.id]"
                >Read More</a
              >
            </div>
          </div>
          <div class="member-info">
            <h4>{{ physician.name }}</h4>
            <span> {{ physician.specialization }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
