<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
      <p>
        At Optimal Orthopedic Medical Group, we believe in a healthcare
        experience that is as unique as you are. Rooted in compassion,
        expertise, and technology, we've been at the forefront of orthopedic
        care, setting new standards for patient-centric healing.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <img
          src="assets/img/about.jpg"
          class="img-fluid"
          alt="Optimal Orthopedic Team"
        />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Where Innovation Meets Individual Care</h3>
        <p class="fst-italic">
          Our journey has always been guided by the simple principle: the
          patient comes first. This ethos directs every decision we make, from
          adopting cutting-edge procedures to refining our bedside manner.
        </p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> Personalized treatment plans
            tailored to your unique health profile and recovery goals.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> A team of dedicated
            professionals, always updated with the latest in orthopedic research
            and techniques.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Comprehensive services under one
            roof, from diagnostics to rehabilitation – ensuring seamless and
            efficient care.
          </li>
        </ul>
        <p>
          We pledge to be your trusted partner on your journey to recovery and
          optimal health. Whether you're combating a sports injury, seeking
          relief from chronic pain, or anything in between, our doors are always
          open, and our team is ready to assist.
        </p>
      </div>
    </div>
  </div>
</section>
