<section id="gallery" class="gallery">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Gallery</h2>
      <p>
        Showcasing the Pinnacle of Patient Care and Advanced Medical Techniques
        at Optimal Orthopedic Medical Group's State-of-the-Art Facilities
      </p>
    </div>

    <div class="gallery-slider swiper">
      <swiper-container
        class="swiper-wrapper align-items-center"
        [config]="gallerySwiperConfig"
        OptimalOrthopedicSwiper
        init="false"
      >
        <swiper-slide class="swiper-slide">
          <a class="gallery-lightbox" href="assets/img/gallery/gallery-1.jpg"
            ><img
              src="assets/img/gallery/gallery-1.jpg"
              class="img-fluid"
              alt=""
          /></a>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <a class="gallery-lightbox" href="assets/img/gallery/gallery-2.jpg"
            ><img
              src="assets/img/gallery/gallery-2.jpg"
              class="img-fluid"
              alt=""
          /></a>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <a class="gallery-lightbox" href="assets/img/gallery/gallery-3.jpg"
            ><img
              src="assets/img/gallery/gallery-3.jpg"
              class="img-fluid"
              alt=""
          /></a>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <a class="gallery-lightbox" href="assets/img/gallery/gallery-4.jpg"
            ><img
              src="assets/img/gallery/gallery-4.jpg"
              class="img-fluid"
              alt=""
          /></a>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <a class="gallery-lightbox" href="assets/img/gallery/gallery-5.jpg"
            ><img
              src="assets/img/gallery/gallery-5.jpg"
              class="img-fluid"
              alt=""
          /></a>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <a class="gallery-lightbox" href="assets/img/gallery/gallery-6.jpg"
            ><img
              src="assets/img/gallery/gallery-6.jpg"
              class="img-fluid"
              alt=""
          /></a>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <a class="gallery-lightbox" href="assets/img/gallery/gallery-7.jpg"
            ><img
              src="assets/img/gallery/gallery-7.jpg"
              class="img-fluid"
              alt=""
          /></a>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <a class="gallery-lightbox" href="assets/img/gallery/gallery-8.jpg"
            ><img
              src="assets/img/gallery/gallery-8.jpg"
              class="img-fluid"
              alt=""
          /></a>
        </swiper-slide>
      </swiper-container>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
