<section id="departments" class="departments">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Departments</h2>
      <p>
        Explore Our Dedicated Departments Each Focusing on Unique Areas of
        Orthopedic Medicine and Rehabilitation.
      </p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a
              class="nav-link active show"
              data-bs-toggle="tab"
              data-bs-target="#tab-1"
            >
              <h4>Joint Replacement & Reconstruction</h4>
              <p></p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Orthopedic Physical Therapy</h4>
              <p></p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>Sports Medicine</h4>
              <p></p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <h3>Joint Replacement & Reconstruction</h3>
            <p class="fst-italic">
              Our Joint Replacement & Reconstruction department is dedicated to
              restoring mobility and quality of life.
            </p>
            <img
              src="assets/img/joint_replacement.JPG"
              alt=""
              class="img-fluid"
            />
            <p>
              Utilizing advanced surgical procedures, our specialists provide
              replacements for the hip, knee, shoulder, and more. Each treatment
              is uniquely tailored to ensure the best outcomes for our patients,
              aiming to get them back to their daily routines with minimal
              downtime.
            </p>
          </div>
          <div class="tab-pane" id="tab-2">
            <h3>Orthopedic Physical Therapy</h3>
            <p class="fst-italic">
              Rehabilitation is the cornerstone of a successful orthopedic
              intervention.
            </p>
            <img
              src="assets/img/orthorpedic_physical_therapy.jpg"
              alt=""
              class="img-fluid"
            />
            <p>
              Our Orthopedic Physical Therapy department focuses on designing
              individualized programs to enhance movement, strength, and overall
              function post-surgery or injury. With a team of expert therapists
              and advanced equipment, we ensure patients regain their strength
              and confidence.
            </p>
          </div>
          <div class="tab-pane" id="tab-3">
            <h3>Sports Medicine</h3>
            <p class="fst-italic">
              Catering to athletes and fitness enthusiasts, our Sports Medicine
              department is committed to diagnosing, treating, and
              rehabilitating sports-related injuries.
            </p>
            <img src="assets/img/sport_medicine.JPG" alt="" class="img-fluid" />
            <p>
              Whether it's a sprain, strain, or more severe injury, our team
              uses state-of-the-art diagnostic tools and treatment methodologies
              to ensure a fast and efficient return to the game.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
