<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>
        Dive into Our Frequently Asked Questions to Gain Insight into Optimal
        Medical Group's Comprehensive Healthcare Services.
      </p>
    </div>

    <ul class="faq-list">
      <li>
        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
          What services does Optimal Orthopedic Medical Group offer?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            At Optimal Orthopedic Medical Group, we specialize in comprehensive
            musculoskeletal care, including but not limited to joint
            replacement, sports medicine, physical therapy, fracture care, and
            minimally invasive surgical procedures.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
          What should I bring to my first appointment?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            Please bring any previous medical records, imaging results (like
            X-rays or MRIs), a list of your current medications, and your
            insurance card. This will help us provide the best care possible.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
          Do you offer telemedicine or virtual consultations?<i
            class="bi bi-chevron-down icon-show"
          ></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Yes, we offer telemedicine appointments for certain conditions and
            follow-up visits. Please inquire with our front desk to determine if
            a virtual consultation is suitable for your needs.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
          How experienced are the doctors at Optimal Orthopedic Medical Group?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            All of our physicians are board-certified with years of experience
            in their respective fields. Many have undergone specialized training
            and are recognized leaders in orthopedic care.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
          How do I schedule an appointment?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            To schedule an appointment, you can call our main office at [phone
            number] or use our online booking system on our website.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
          Is physical therapy available on-site?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            Yes, we offer a fully-equipped physical therapy center on-site,
            providing our patients with comprehensive and convenient care.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
