<section id="services" class="services services">
  <div class="container">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        At Optimal Orthopedic Medical Group, We're Committed to Providing a
        Comprehensive Spectrum of Services Tailored to Your Unique Needs.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fas fa-heartbeat"></i></div>
        <h4 class="title">
          <a href="">Joint Replacement & Reconstruction</a>
        </h4>
        <p class="description">
          Experience a new lease of life with our state-of-the-art joint
          replacements. Our specialists provide replacements for the hip, knee,
          shoulder, and more, ensuring your mobility isn’t compromised.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fas fa-pills"></i></div>
        <h4 class="title"><a href="">Orthopedic Physical Therapy</a></h4>
        <p class="description">
          Rehabilitation is crucial after any orthopedic intervention. Our
          expert therapists create tailored programs to improve movement,
          strength, and overall function.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fas fa-hospital-user"></i></div>
        <h4 class="title"><a href="">Pediatric Orthopedics</a></h4>
        <p class="description">
          Children aren’t just small adults. Their orthopedic needs are unique.
          Our team is experienced in diagnosing and treating a wide range of
          pediatric orthopedic conditions.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fas fa-dna"></i></div>
        <h4 class="title"><a href="">Sports Medicine</a></h4>
        <p class="description">
          Whether you’re an elite athlete or a weekend warrior, our team is
          committed to diagnosing, treating, and rehabilitating your sports
          injuries, helping you return to the game stronger than before.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fas fa-wheelchair"></i></div>
        <h4 class="title"><a href="">Spinal Care</a></h4>
        <p class="description">
          From herniated discs to spinal stenosis, our specialists offer
          treatments that alleviate pain and restore function, ensuring that you
          maintain a strong and healthy backbone.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fas fa-notes-medical"></i></div>
        <h4 class="title"><a href="">Arthroscopic Surgeries</a></h4>
        <p class="description">
          Minimally invasive and with faster recovery times, our arthroscopic
          procedures address a variety of conditions, ensuring you're back on
          your feet in no time.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- ======= Departments Section ======= -->
<section id="departments" class="departments">
  <div class="container">
    <div class="section-title">
      <h2>Departments</h2>
      <p>
        Explore Our Dedicated Departments Each Focusing on Unique Areas of
        Orthopedic Medicine and Rehabilitation.
      </p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a
              class="nav-link active show"
              data-bs-toggle="tab"
              data-bs-target="#tab-1"
            >
              <h4>Joint Replacement & Reconstruction</h4>
              <p></p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Orthopedic Physical Therapy</h4>
              <p></p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>Sports Medicine</h4>
              <p></p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <h3>Joint Replacement & Reconstruction</h3>
            <p class="fst-italic">
              Our Joint Replacement & Reconstruction department is dedicated to
              restoring mobility and quality of life.
            </p>
            <img
              src="assets/img/joint_replacement.JPG"
              alt=""
              class="img-fluid"
            />
            <p>
              Utilizing advanced surgical procedures, our specialists provide
              replacements for the hip, knee, shoulder, and more. Each treatment
              is uniquely tailored to ensure the best outcomes for our patients,
              aiming to get them back to their daily routines with minimal
              downtime.
            </p>
          </div>
          <div class="tab-pane" id="tab-2">
            <h3>Orthopedic Physical Therapy</h3>
            <p class="fst-italic">
              Rehabilitation is the cornerstone of a successful orthopedic
              intervention.
            </p>
            <img
              src="assets/img/orthorpedic_physical_therapy.jpg"
              alt=""
              class="img-fluid"
            />
            <p>
              Our Orthopedic Physical Therapy department focuses on designing
              individualized programs to enhance movement, strength, and overall
              function post-surgery or injury. With a team of expert therapists
              and advanced equipment, we ensure patients regain their strength
              and confidence.
            </p>
          </div>
          <div class="tab-pane" id="tab-3">
            <h3>Sports Medicine</h3>
            <p class="fst-italic">
              Catering to athletes and fitness enthusiasts, our Sports Medicine
              department is committed to diagnosing, treating, and
              rehabilitating sports-related injuries.
            </p>
            <img src="assets/img/sport_medicine.JPG" alt="" class="img-fluid" />
            <p>
              Whether it's a sprain, strain, or more severe injury, our team
              uses state-of-the-art diagnostic tools and treatment methodologies
              to ensure a fast and efficient return to the game.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Departments Section -->
