<div [class]="errorMessage != null ? 'show' : ''" class="alert error">
  <span class="icon">X</span>
  <span class="text">{{ errorMessage }}</span>
</div>

<div [class]="successMessage != null ? 'show' : ''" class="alert success">
  <span class="icon">&#10003;</span>
  <span class="text">{{ successMessage }}</span>
</div>

<section id="appointment" class="appointment section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Make an Appointment</h2>
      <p>
        Your Journey to Recovery Begins Here with an Appointment at Optimal
        Orthopedic Medical Group.
      </p>
    </div>

    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="appointmentForm"
      class="php-email-form"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="row">
        <div class="col-md-4 form-group">
          <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Your Name"
            formControlName="name"
            required
          />
          <h6
            *ngIf="
              appointmentForm.get('name')?.touched &&
              appointmentForm.get('name')?.hasError('required')
            "
          >
            Name is required.
          </h6>
        </div>
        <div class="col-md-4 form-group mt-3 mt-md-0">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Your Email"
            formControlName="email"
            required
          />
          <h6
            *ngIf="
              appointmentForm.get('email')?.touched &&
              appointmentForm.get('email')?.hasError('required')
            "
          >
            Email is required.
          </h6>
          <h6
            *ngIf="
              appointmentForm.get('email')?.touched &&
              appointmentForm.get('email')?.hasError('email')
            "
          >
            Invalid email format.
          </h6>
        </div>
        <div class="col-md-4 form-group mt-3 mt-md-0">
          <input
            type="tel"
            class="form-control"
            name="phone"
            placeholder="Your Phone"
            formControlName="phone"
          />
          <h6
            *ngIf="
              appointmentForm.get('phone')?.touched &&
              appointmentForm.get('phone')?.hasError('pattern')
            "
          >
            Invalid phone number format.
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group mt-3">
          <select
            name="department"
            formControlName="department"
            class="form-select"
            required
          >
            <option value="">Select Department</option>
            <option value="Joint Replacement & Reconstruction">
              Joint Replacement & Reconstruction
            </option>
            <option value="Sports Medicine">Sports Medicine</option>
            <option value="Orthopedic Physical Therapy">
              Orthopedic Physical Therapy
            </option>
          </select>
          <h6
            *ngIf="
              appointmentForm.get('department')?.touched &&
              appointmentForm.get('department')?.hasError('required')
            "
          >
            Please select a department.
          </h6>
        </div>
        <div class="col-md-4 form-group mt-3">
          <select
            name="doctor"
            formControlName="doctor"
            class="form-select"
            required
          >
            <option value="">Select Doctor</option>
            <ng-container *ngFor="let provider of _providers">
              <option [value]="provider.name">
                {{ provider.name }}
              </option>
            </ng-container>
          </select>
          <h6
            *ngIf="
              appointmentForm.get('doctor')?.touched &&
              appointmentForm.get('doctor')?.hasError('required')
            "
          >
            Please select a doctor.
          </h6>
        </div>
      </div>
      <div class="form-group mt-3">
        <textarea
          class="form-control"
          name="message"
          rows="5"
          placeholder="Message (Optional)"
          formControlName="message"
        ></textarea>
        <h6
          *ngIf="
            appointmentForm.get('message')?.touched &&
            appointmentForm.get('message')?.hasError('required')
          "
        >
          Message is required.
        </h6>
      </div>
      <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">
          Your appointment request has been sent successfully. Thank you!
        </div>
      </div>
      <div class="text-center">
        <button
          [innerText]="isSending ? 'Sending...' : 'Make an Appointment'"
          type="submit"
        ></button>
      </div>
    </form>
  </div>
</section>
