<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div
    class="container d-flex align-items-center justify-content-center justify-content-md-between"
  >
    <div class="align-items-center d-none d-md-flex">
      <i class="bi bi-clock"></i>
      <p class="text-md mt-3">17400 Irvine Blvd Ste I. Tustin, CA 92780</p>
    </div>
    <div class="d-flex align-items-center">
      <i class="bi bi-phone"></i> Call us now
      <a
        class="text-white text-lg"
        style="margin-left: 1rem"
        href="tel:+1-714-485-7245"
      >
        +1-714-485-7245</a
      >
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="#hero" class="logo me-auto"
      ><img src="assets/img/logo.jpg" alt="Optimal Orthopedic Medical Group"
    /></a>
    <!-- <h1 class="logo me-auto"><a href="#hero">Optimal Orthopedic</a></h1> -->

    <nav
      id="navbar"
      [class]="isNavbarOpen ? 'navbar-mobile' : 'navbar'"
      class="navbar order-last order-lg-0"
    >
      <ul>
        <li>
          <a (click)="toggleNavbar()" class="nav-link scrollto" href="#hero"
            >Home</a
          >
        </li>
        <li>
          <a (click)="toggleNavbar()" class="nav-link scrollto" href="#about"
            >About</a
          >
        </li>
        <li>
          <a (click)="toggleNavbar()" class="nav-link scrollto" href="#services"
            >Services</a
          >
        </li>

        <li>
          <a
            (click)="toggleNavbar()"
            class="nav-link scrollto"
            href="#providers"
            >Providers</a
          >
        </li>
        <!-- <li class="dropdown">
          <a href="#"
            ><span>Drop Down</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i
              ></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> -->
        <li>
          <a (click)="toggleNavbar()" class="nav-link scrollto" href="#contact"
            >Contact</a
          >
        </li>
        <!--         <li>
          <a
            (click)="toggleNavbar()"
            class="nav-link scrollto"
            href="#appointment"
            >Book Appointment</a
          >
        </li> -->
      </ul>
      <i
        [class]="isNavbarOpen ? 'bi-x' : 'bi-list'"
        class="bi mobile-nav-toggle"
        (click)="toggleNavbar()"
      ></i>
    </nav>
    <!-- .navbar -->

    <a href="#appointment" class="appointment-btn scrollto">Book Appointment</a>
  </div>
</header>
<!-- End Header -->
