<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Testimonials</h2>
      <p>
        What Our Patients Are Saying About Their Experience at Optimal
        Orthopedic Medical Group
      </p>
    </div>

    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <swiper-container
        class="swiper-wrapper"
        OptimalOrthopedicSwiper
        init="false"
        [config]="testimonialSwiperConfig"
      >
        <swiper-slide class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              After years of dealing with persistent knee pain, I finally found
              relief with Optimal Orthopedic Medical Group. The entire team was
              incredibly supportive, and my surgeon was top-notch. I only wish
              I'd come here sooner!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-1.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>Samantha J.</h3>
            <!-- <h4>Ceo &amp; Founder</h4> -->
          </div>
        </swiper-slide>
        <!-- End testimonial item -->

        <swiper-slide class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              The physical therapists at Optimal Orthopedic are true
              professionals. They took the time to understand my unique needs
              and helped me get back to my active lifestyle after a complicated
              ankle injury. I can't thank them enough.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-2.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>Derrick L.</h3>
            <!-- <h4>Designer</h4> -->
          </div>
        </swiper-slide>
        <!-- End testimonial item -->

        <swiper-slide class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              From my initial consultation to my post-op check-ups, my
              experience with Optimal Orthopedic Medical Group was seamless.
              They are attentive, skilled, and genuinely care about their
              patients' well-being
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-3.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>Elena W.</h3>
            <!-- <h4>Store Owner</h4> -->
          </div>
        </swiper-slide>
        <!-- End testimonial item -->

        <swiper-slide class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              As an avid tennis player, a shoulder injury was the last thing I
              needed. Thanks to the experts at Optimal Orthopedic, not only did
              I receive an accurate diagnosis quickly, but their treatment plan
              also had me back on the court faster than I had hoped.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-4.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>Ravi S.</h3>
            <!-- <h4>Freelancer</h4> -->
          </div>
        </swiper-slide>
        <!-- End testimonial item -->

        <swiper-slide class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I've been to several orthopedic groups over the years due to my
              athletic background, and I can confidently say that Optimal
              Orthopedic Medical Group stands out. Their state-of-the-art
              facilities and compassionate care team made all the difference in
              my recovery.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-5.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>Clarissa M.</h3>
            <!-- <h4>Entrepreneur</h4> -->
          </div>
        </swiper-slide>
        <!-- End testimonial item -->
      </swiper-container>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
