*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.text-md {
  font-size: 0.89rem;
}

/* Define the styles for the scrollbar track and thumb */
/* This will work in some modern browsers (e.g., Chrome) */

/* Track (the background of the scrollbar) */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #3fbbc0; /* color of the scrollbar thumb */
  border-radius: 6px; /* rounded corners of the thumb */
}

/* Handle when the user hovers over the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #3fbbc0; /* color of the thumb on hover */
}

/* Track (background of the scrollbar) when not hovering over the thumb */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle when the user hovers over the track */
::-webkit-scrollbar-track:hover {
  background: #ddd;
}

/* Corner (between the vertical and horizontal scrollbars) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.alert {
  background-color: #ffffff !important;
  padding: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  max-width: 350px;
  position: fixed !important;
  top: -100% !important;
  left: 43%;
  z-index: 999999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 500px) {
  .alert {
    width: 96vw;
    left: 2%;
  }
}

.alert.show {
  top: 3% !important;
}

.alert .icon {
  padding: 10px !important;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert .text {
  flex: 1;
}

.error .icon {
  background-color: red;
  color: white !important;
}

.error .text {
  color: red;
}

.success .icon {
  background-color: green;
  color: white;
}

.success .text {
  color: green;
}
